a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}


.mainnav{
   display: flex;
   justify-items: center;
   
   

}
.logo{
    display: flex;
    justify-content: start;
    align-items: center;
    grid-column: 2/3;
}

.menulink ul{
    grid-column: 3/4;
}

.menulink ul{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menulink ul li{
    margin-right: 4rem;
   
}
.excesslink{
    grid-column: 4/5;
}
.excesslink ul{
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: end;

}
.excesslink ul li:first-child{
    margin-right: 4rem;

}
/* .navbar_scrolled{
    display: grid;
    grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
    background-color: white;
   
} */

.navbar{
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 80px;
}